<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Funcionarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="layout/header :: headerFragment"></div>
<div th:replace="layout/menu :: menuFragment"></div>

<div id="content">

    <div class="container">
        <h3>Cadastro de Funcionarios</h3>

        <form th:action="@{/funcionarios/save}" th:object="${funcionario}" method="post">
            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <div class="input-group-text">Id</div>
                </div>
                <input class="form-control" id="id" th:field="*{id}" type="text" readonly>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">Nome</div>
                </div>
                <input class="form-control" id="nome" th:field="*{nome}" type="text">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
            <a th:href="@{/funcionarios}" class="btn btn-sm">Cancelar</a>
        </form>

    </div>
</div>

<div th:replace="layout/footer :: footerFragment"></div>
</body>
</html>