<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Cargos por Departamento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Listagem de Cargos por Departamento</h1>

        <label for="id_departamento">Departamento</label>
        <select class="form-control" id="id_departamento">
            <option value="10">RH</option>
            <option value="11">Financeiro</option>
            <option value="12">Vendas</option>
        </select>

        <br>

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cargo</th>                
                    <th>Departamento</th>                                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Devenvolvedor</td>
                    <td>RH</td>
                </tr>                
            </tbody>


        </table>
        
    </div>
</body>
</html>